<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />

    <application android:label="Ypso non-therapy write bench" android:allowBackup="false" android:usesCleartextTraffic="false">
        <activity
            android:name=".BenchActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:permission="android.permission.DUMP" />
    </application>
</manifest>
